body {
    width: 370px;
    height: 500px;
    background: #f7f2e7;
    padding: 20px;
    font-family: "Georgia", serif;
  }
  
  h1 {
    font-size: 18px;
    text-align: center;
  }
  
  #focus-btn {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    background: #b889f6;
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
  }
  