@font-face {
    font-family: 'QuiteMagical';
    src: url('Assets/Font/QuiteMagicalRegular.ttf');
}

body {
    width: 400px;
    height: 500px;
    background-image: url('Assets/No UI.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: black;
    padding: 20px;
    font-family: 'QuiteMagical';
  }
  
  h1 {
    font-size: 18px;
    text-align: center;
  }
  
  #focus-btn {
    width: 150px;
    margin: 250px auto 0 auto;
    padding: 10px 5px 5px 5px;
    border-radius: 20px;
    background: #CAAFE5;
    color: white;
    font-family: 'QuiteMagical';
    font-size: 36px;
    border: none;
    cursor: pointer;
    display: block;
  }
  